<!DOCTYPE html>
<html ng-app="plunker">

<head>
  <meta charset="utf-8" />
  <title>INFO 226 Project</title>
  <script>
    document.write('<base href="' + document.location + '" />');
  </script>
  <link rel="stylesheet" href="style.css" />
  <link rel="stylesheet" href="nav.css" />
  <link rel="stylesheet" href="table.css" />
  <link rel="stylesheet" href="buttons.css" />
  <link rel="stylesheet" href="comments.css" />
  <script data-require="angular.js@1.0.x" src="https://code.angularjs.org/1.0.8/angular.js" data-semver="1.0.8"></script>
  <script src="authentication.js"></script>
  <script src="datahandler.js"></script>
  <script src="testhelper.js"></script>
  <script src="navigation.js"></script>
  <script src="app.js"></script>
</head>

<body ng-controller='MainCtrl' ng-init="init()">

  <!-- LOGIN PAGE (View 1) -->

  <div class="login" ng-show="isSet('view',1)">
    <div id="login_outer">
      <div id="login_middle">
        <h1 class="centered_heading">Happy Building Company</h1>
        <div id="login_inner">
          <form>
            <fieldset>
              <div id="login_buttons">
                <label>Username:</label>
                <br/>
                <input type="text" ng-model="username" />
                <br/>
                <label>Password:</label>
                <br/>
                <input type="password" ng-model="password" />
                <hr/>
                <input class="button" type="submit" value="Log In" ng-click="logIn()" />
                <input class="button" type="submit" value="Cancel" ng-click="clearFields()" />
                <hr/>
                <p id="feedback">{{feedback}}</p>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Content Page (View 2) -->

  <div class="content" ng-show="isSet('view',2)">

    <!-- Navigation Bar -->

    <div>
      <ul class="nav">
        <li ng-class="{active:isSet('content',1)}" class="nav-item">
          <a href ng-click="toDirectory()">Building Directory</a>
        </li>
        <li ng-class="{active:isSet('content',2)}" class="nav-item">
          <a href ng-click="setContent('content',2)">About</a>
        </li>
        <li class="active nav-item" style="float: right">
          <a href ng-click="logOut()">Log Out</a>
        </li>
      </ul>
    </div>

    <!-- BUILDING DIRECTORY (Tab 1) -->

    <div class="b_dir" ng-show="isSet('content',1)">
      <div id="bd_outer">
        <div id="bd_middle">
          <h1 class="centered_heading">Building Directory</h1>
          <div id="bd_inner">
            <table>
              <tr>
                <th>ID</th>
                <th>Owner</th>
                <th>Address</th>
                <th>View</th>
              </tr>
              <tr ng-repeat="entry in buildings">
                <td>{{entry.ID}}</td>
                <td>{{entry.Owner}}</td>
                <td>{{entry.Address}}</td>
                <td>
                  <input class="button" type="submit" value="View" ng-click="toForm(entry.ID)" />
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- ABOUT CONTENT (Tab 2) -->

    <div class="about" ng-show="isSet('content',2)">

      <h1 class="centered_heading">Company Information</h1>

      <p>HappyBuildings is a project inspection firm working for the NZ government. Their job is to oversee the maintenance
        projects. HappyBuildings must track when, where and what has to be done, who is going to do it, and when works are
        expected to be completed. HappyBuildings also make sure that all parties involved in a project are happy with it.
        <br>
        <br> HappyBuildings do not plan or manage the projects, do not do the maintenance works, and also do not select the
        contractors that work on projects. They are third parties (in between building owners and contractors) focussed on
        due diligence, centralising information, tracking how the projects are going, and identifying problems that may arise
        between the stakeholders. </p>

      <h3 class="centered_heading">Contact Information</h3>

      <ul>
        <li>Phone: 038,775,4875</li>
        <br>
        <li>Email: happybuildings@hotmail.com</li>
        <br>
        <li>Address: 717 Taranaki Street, Te Aro, Wellington, 6012</li>
      </ul>

    </div>

    <!-- BUILDING FORM (Tab 3) -->

    <div class="b_form" ng-show="isSet('content',3)">
      <div id="bf_outer">
        <div id="bf_middle">
          <div id="bf_inner">
            <h1 class="centered_heading">Building Information</h1>
            <div class="floating_block">
              <span>
                <label>Building ID:</label>
              </span>
              <span>
                <p>{{building.ID}}</p>
              </span>
            </div>
            <div class="floating_block">
              <span>
                <label>Address:</label>
              </span>
              <span>
                <p>{{building.Address}}</p>
              </span>
            </div>
            <div class="floating_block">
              <span>
                <label>Date of Construction:</label>
              </span>
              <span>
                <p>{{building.ConstructionDate}}</p>
              </span>
            </div>
            <div class="floating_block">
              <span>
                <label>Type of Building:</label>
              </span>
              <span>
                <p>{{building.BuildingType}}</p>
              </span>
            </div>
            <div class="proj_table">
              <h2 class="centered_heading">Projects</h2>
              <table>
                <tr>
                  <th>Project ID</th>
                  <th>Name</th>
                  <th>Schedule</th>
                </tr>
                <tr ng-repeat="project in projects">
                  <td>{{project.ProjectID}}</td>
                  <td>{{project.Name}}</td>
                  <td>
                    <div class="table_floating_block">
                      <span>{{project.StartDate}} to {{project.EndDate}}</span>
                      <span style="float: right"><input class="button" type="submit" value="View" ng-click="toDetails(project.ProjectID)"/></span>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- PROJECT DETAILS (Tab 4) -->

    <div class="proj_details" ng-show="isSet('content',4)">
      <div id="pd_outer">
        <div id="pd_middle">
          <div id="pd_inner">
            <h1 class="centered_heading">Project Details</h1>

            <!-- Project Details Navigation Bar -->

            <div>
              <ul class="nav">
                <li ng-class="{active:isSet('project',1)}" class="nav-item">
                  <a href ng-click="setContent('project',1)">About</a>
                </li>
                <li ng-class="{active:isSet('project',2)}" class="nav-item">
                  <a href ng-click="setContent('project',2)">Contact</a>
                </li>
                <li ng-class="{active:isSet('project',3)}" class="nav-item">
                  <a href ng-click="setContent('project',3)">Works</a>
                </li>
                <li ng-class="{active:isSet('project',4)}" class="nav-item">
                  <a href ng-click="setContent('project',4)">Comments</a>
                </li>
                <li class="active nav-item">
                  <a href ng-click="backToForm()">Back</a>
                </li>
              </ul>
            </div>

            <!-- About Content (PDTab 1) -->

            <div class="pd_about" ng-show="isSet('project',1)">
              <div class="floating_block">
                <span>
                  <label>Project ID:</label>
                </span>
                <span>
                  <p>{{project.ProjectID}}</p>
                </span>
              </div>
              <div class="floating_block">
                <span>
                  <label>Project Name:</label>
                </span>
                <span>
                  <p>{{project.Name}}</p>
                </span>
              </div>
              <div class="floating_block">
                <span>
                  <label>Status</label>
                </span>
                <span>
                  <p>{{project.Status}}</p>
                </span>
              </div>
              <div class="floating_block">
                <span>
                  <label>Start Date:</label>
                </span>
                <span>
                  <p>{{project.StartDate}}</p>
                </span>
              </div>
              <div class="floating_block">
                <span>
                  <label>End Date:</label>
                </span>
                <span>
                  <p>{{project.EndDate}}</p>
                </span>
              </div>
            </div>

            <!-- Contact Content (PDTab 2) -->

            <div class="pd_contact" ng-show="isSet('project',2)">
              <div class="floating_block">
                <span>
                  <label>Contractor:</label>
                </span>
                <span>
                  <p>{{project.Contractor}}</p>
                </span>
              </div>
              <div class="floating_block">
                <span>
                  <label>Contact Person:</label>
                </span>
                <span>
                  <p>{{project.ContactPerson}}</p>
                </span>
              </div>
              <div class="floating_block">
                <span>
                  <label>Project Manager:</label>
                </span>
                <span>
                  <p>{{project.ProjectManager}}</p>
                </span>
              </div>
            </div>

            <!-- Works Content (PDTab 3) -->

            <div class="pd_works" ng-show="isSet('project',3)">
              <h2 class="centered_heading">Works</h2>
              <table>
                <tr>
                  <th>Status</th>
                  <th>Type</th>
                </tr>
                <tr ng-repeat="work in project.Works">
                  <td>
                    <input type="checkbox" ng-checked="isDone(work.Status)" disabled>
                  </td>
                  <td>{{work.TypeOfWork}}</td>
                </tr>
              </table>
            </div>

            <!-- Comments Content (PDTab 4) -->

            <div class="pd_comments" ng-show="isSet('project',4)">
              <div class="justified">
                <div class="floating_block">
                  <span>
                  <textarea placeholder="Enter comment here..." rows="3" cols="50" style="resize: none" ng-model="comment"></textarea>
                </span>
                </div>
              </div>
              <div class="justified">
                <input class="button" type="submit" value="Post" ng-click="postComment()" />
              </div>
              <h2 class="centered_heading">Comments</h2>
              <div class="justified" style="border-top: 1px solid black; overflow-y:scroll; height:300px;">
                <ul class="comments">
                  <li ng-repeat="comment in project.Comments">
                    <span>
                  <p class="author">{{comment.Author}}</p>
                  <p class="message">{{comment.Text}}</p>
                  <div class="floating_block">
                    <input class="button" type="submit" value="Edit" />
                    <input class="button" type="submit" value="Delete" />
                  </div>
                  </span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- BUILDING FORM EDITOR (Tab 5) -->

    <div class="b_form_edit" ng-show="isSet('content',5)">
      <div id="bf_outer">
        <div id="bf_middle">
          <div id="bf_inner">
            <h1 class="centered_heading">Building Information</h1>
            <form>
              <div class="floating_block">
                <span>
                  <label>Building ID:</label>
                </span>
                <span>
                  <p>{{building.ID}}</p>
                </span>
              </div>
              <div class="floating_block">
                <span>
                  <label>Owner:</label>
                </span>
                <span>
                  <textarea placeholder="" rows="1" cols="30" style="resize: none" ng-model="building.Owner"></textarea>
                </span>
              </div>
              <div class="floating_block">
                <span>
                  <label>Address:</label>
                </span>
                <span>
                  <textarea placeholder="" rows="1" cols="30" style="resize: none" ng-model="building.Address"></textarea>
                </span>
              </div>
              <div class="floating_block">
                <span>
                  <label>Date of Construction:</label>
                </span>
                <span>
                  <input type="date" ng-model='building.ConstructionDate'/>
                </span>
              </div>
              <br>
              <div class="floating_block">
                <span>
                  <label>Type of Building:</label>
                </span>
                <span>
                  <textarea placeholder="" rows="1" cols="30" style="resize: none" ng-model="building.BuildingType"></textarea>
                </span>
                <input class="button" type="submit" value="Save Changes" ng-click="updateBuilding()" />
                <input class="button" type="submit" value="Add Project" ng-click="addProject()"/>
              </div>
            </form>
            <div class="proj_table">
              <h2 class="centered_heading">Projects</h2>
              <table>
                <tr>
                  <th>Project ID</th>
                  <th>Name</th>
                  <th>Schedule</th>
                </tr>
                <tr ng-repeat="project in projects">
                  <td>{{project.ProjectID}}</td>
                  <td>{{project.Name}}</td>
                  <td>
                    <div class="table_floating_block">
                      <span>{{project.StartDate}} to {{project.EndDate}}</span>
                      <span style="float: right"><input class="button" type="submit" value="Archive" ng-click="archiveProject(project.ProjectID)"/></span>
                      <span style="float: right"><input class="button" type="submit" value="View" ng-click="toDetails(project.ProjectID)"/></span>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- PROJECT DETAILS EDITOR (Tab 6) -->

    <div class="proj_details_edit" ng-show="isSet('content',6)">
      <div id="pd_outer">
        <div id="pd_middle">
          <div id="pd_inner">
            <h1 class="centered_heading">Project Details</h1>

            <!-- Project Details Navigation Bar -->

            <div>
              <ul class="nav">
                <li ng-class="{active:isSet('project',1)}" class="nav-item">
                  <a href ng-click="setContent('project',1)">About</a>
                </li>
                <li ng-class="{active:isSet('project',2)}" class="nav-item">
                  <a href ng-click="setContent('project',2)">Contact</a>
                </li>
                <li ng-class="{active:isSet('project',3)}" class="nav-item">
                  <a href ng-click="setContent('project',3)">Works</a>
                </li>
                <li ng-class="{active:isSet('project',4)}" class="nav-item">
                  <a href ng-click="setContent('project',4)">Comments</a>
                </li>
                <li class="nav-item">
                  <a href ng-click="updateProject()">Save Changes</a>
                </li>
                <li class="active nav-item">
                  <a href ng-click="backToForm()">Back</a>
                </li>
              </ul>
            </div>

            <!-- About Content (PDTab 1) -->

            <div class="pd_about" ng-show="isSet('project',1)">
              <div class="floating_block">
                <span>
                  <label>Project ID:</label>
                </span>
                <span>
                  <p>{{project.ProjectID}}</p>
                </span>
              </div>
              <div class="floating_block">
                <span>
                  <label>Project Name:</label>
                </span>
                <span>
                  <textarea placeholder="" rows="1" cols="30" style="resize: none" ng-model="project.Name"></textarea>
                </span>
              </div>
              <div class="floating_block">
                <span>
                  <label>Status</label>
                </span>
                <span>
                  <p></p>
                  <select ng-model="project.Status" ng-options="x for x in statusOptions"></select>
                </span>
              </div>
              <br>
              <div class="floating_block">
                <span>
                  <label>Start Date:</label>
                </span>
                <span>
                  <input type="date" ng-model="project.StartDate"/>
                </span>
              </div>
              <br>
              <div class="floating_block">
                <span>
                  <label>End Date:</label>
                </span>
                <span>
                  <input type="date" ng-model="project.EndDate"/>
                </span>
              </div>
            </div>

            <!-- Contact Content (PDTab 2) -->

            <div class="pd_contact" ng-show="isSet('project',2)">
              <br>
              <div class="floating_block">
                <span>
                  <label>Contractor:</label>
                </span>
                <span>
                  <textarea placeholder="" rows="1" cols="30" style="resize: none" ng-model="project.Contractor"></textarea>
                </span>
              </div>
              <br>
              <div class="floating_block">
                <span>
                  <label>Contact Person:</label>
                </span>
                <span>
                  <textarea placeholder="" rows=" 1 " cols="30 " style="resize: none" ng-model="project.ContactPerson"></textarea>
                </span>
              </div>
              <br>
              <div class="floating_block ">
                <span>
                  <label>Project Manager:</label>
                </span>
                <span>
                  <textarea placeholder="" rows="1" cols="30" style="resize: none" ng-model="project.ProjectManager"></textarea>
                </span>
              </div>
            </div>

            <!-- Works Content (PDTab 3) -->

            <div class="pd_works" ng-show="isSet('project',3)">
              <h2 class="centered_heading">Works</h2>
              <table>
                <tr>
                  <th>Status</th>
                  <th>Type</th>
                  <th>Delete</th>
                </tr>
                <tr ng-repeat="work in project.Works">
                  <td>
                    <select ng-model="work.Status" ng-options="x for x in workOptions"></select>
                  </td>
                  <td>{{work.TypeOfWork}}</td>
                  <td>
                    <input class="button" type="submit" value="Delete" ng-click="setTab(3)" />
                  </td>
                </tr>
              </table>
              <br/>
              <input class="button" type="submit" value="Add" ng-click="setTab(3)" />
            </div>

            <!-- Comments Content (PDTab 4) -->

            <div class="pd_comments" ng-show="isSet('project',4)">
              <div class="justified">
                <div class="floating_block">
                  <span>
                  <textarea placeholder="Enter comment here..." rows="3" cols="50" style="resize: none" ng-model="comment"></textarea>
                </span>
                </div>
              </div>
              <div class="justified">
                <input class="button" type="submit" value="Post" ng-click="postComment()" />
              </div>
              <h2 class="centered_heading">Comments</h2>
              <div class="justified" style="border-top: 1px solid black; overflow-y:scroll; height:300px;">
                <ul class="comments">
                  <li ng-repeat="comment in project.Comments">
                    <span>
                  <p class="author">{{comment.Author}}</p>
                  <p class="message">{{comment.Text}}</p>
                  <div class="floating_block">
                    <input class="button" type="submit" value="Edit" />
                    <input class="button" type="submit" value="Delete" />
                  </div>
                  </span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- BUILDING DIRECTORY EDITOR (Tab 7) -->

    <div class="b_dir" ng-show="isSet('content',7)">
      <div id="bd_outer">
        <div id="bd_middle">
          <h1 class="centered_heading">Building Directory</h1>
          <div id="bd_inner">
            <table>
              <tr>
                <th>ID</th>
                <th>Owner</th>
                <th>Address</th>
                <th>View</th>
              </tr>
              <tr ng-repeat="entry in buildings">
                <td>{{entry.ID}}</td>
                <td>{{entry.Owner}}</td>
                <td>{{entry.Address}}</td>
                <td>
                  <input class="button" type="submit" value="View" ng-click="toForm(entry.ID)" />
                </td>
              </tr>
            </table>
            <input class="button" type="submit" value="Add Building" ng-click="addBuilding()" />
          </div>
        </div>
      </div>
    </div>

  </div>

</body>

</html>